ul{
    list-style: none;
}

.nav{
    display: flex;
    background-color: rgb(51, 230, 96);
    margin-bottom: 0;
}

.logo{
    position: relative;
    margin-left: 40px;
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction:column;
    text-align: center;
}

.logo h1{
    margin-top: 18px;
    margin-bottom: 0;
    width: 190px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    color:rgb(51, 230, 96) ;

}

.logo h2{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    width: 170px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    top: 65px;
}

.listitem{
    display: flex;
    margin-left: 700px;
}

li{
    float : left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

li a:hover{
    color: black;
}

@media screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 130px;
    }


    .logo h1{
        height: 60px;
        font-size: 80px;
        width: 100px;
        font-size: 15px;
    }
    
    .logo h2{
        position: relative;
        top: 8%;
        font-size: 80px;
        width: 100px;
        font-size: 10px;
        padding: 0;
    }

    ul{
        height: 40px;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    li a{
        font-size: 17px;
        padding: 5px;
        width: 100%;
        margin-left: 3px;
    }

    .logo {
        margin-left: 0px; 
        height: 0px;
        width: 100px;
    }

    .listitem {
        position: relative;
        top: 38%;
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .listitem{
        margin-left: 170px;
    }
}